#page-about {
	margin: 15px auto;
	padding: 40px;
	h2 {
		margin: 40px 0;
		font-weight:300;
    a {
      font-weight: inherit;
    }
	}
	p {
		font-size: 24px;
		font-weight: 400;
	}
	p b {
		font-weight: 500;
	}
	a {
		color: $black;
		text-decoration: underline;
	}
	.content {
		max-width: 640px;
		margin: 40px auto;
	}
	.row-landing {
		width: 100%;
		margin-bottom: 80px;
	}
	.landing-image-wrapper {
		&>a {
			font-size: 24px;
			display: block;
			margin: 20px 0px;
			color: $black;
		}
		&>a:hover {
			color: $black;
		}
		.landing-image {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top-left;
			height: 30vw;
			&.artists-report {
				background-image: url(../assets/images/artists_report.jpg);
			}
			&.supply-chains {
				background-image: url(../assets/images/supply_chains.jpg);
			}
			&>a {
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}
}
