.articles {
  margin-left: -15px;
  margin-right: -15px;
}

article {
  padding: 0px 0px;
  &:first-child {
    clear: both;
  }
  header.article-header {
    margin-top: 30px;
    margin-bottom: 20px;
    h3 {
      font-size: 20px;
    }
  }
  .article-body, .article-header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 26px;
    // padding-bottom: 30px;
    padding-top: 46px;
    padding-bottom: 50px;
  }

}
article.type-project {
  .article-header {
    h4.project-title {
      font-style: italic;
    }
  }
  .more-projects {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    a {
      cursor: pointer;

    }
    &>h4 {
      margin-left: 15px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    .project-item {
      width: 33%;
      float: left;
      padding-right: 15px;
      padding-left: 15px;
      font-style: italic;
      .thumb {
        height: 100px;
      }

    }

  }

}

.item {
    position: relative;
    &.item-half,
    &.item-third {
        padding-right: 15px;
        padding-left: 15px;
    }
    &.item-third {
        width: 33%;
        float: left;
        &:nth-child(3n+1) {
            clear: left;
        }
    }
    .item-thumb {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        border: 1px solid $gray;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.item-list {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

article.item-full {
  .article-body-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
  }
  .article-summary p {
    max-width: 500px;
  }
  .feature-wrapper {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
  }
  .feature {
    float: left;
    width: auto;
    position: relative;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  ul {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0;
    max-width: 600px;
    li {
      list-style: none;
      margin: 25px auto;
      &:before {
        content: '\2192'
      }
    }
    li:first-child {
      margin-top: 0;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
  .article-attachments {
    ul li {
      margin-top: 5px;
      margin-bottom: 5px;
      a {
        font-weight: bold;
        border-bottom: 0px;
      }
    }
  }
}

article.item-half {
  position: relative;
  width: 50%;
  float: left;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 20px;
  &:nth-child(odd) {
    clear: left;
  }
  header.article-header {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .article-body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .article-body-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .feature {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
  .more-link {
    white-space: nowrap;
  }
}

@media screen and (max-width: 769px) {
  .item.item-half,
  .item.item-third {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
}


.video-placeholder {
  background-image: url('../assets/images/video.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
  min-width: 600px;
  height: 422px;
}

.article-cards {
  position: relative;
  outline: none;

  button.next,
  button.previous {
    border: 0px;
    background: transparent;
    width: 22px;
  }
  .flickity-slider {
    height: 100%;
  }
  .flickity-viewport {
    overflow: hidden;
  }
  .article-media {
    width: 100%;
    position: relative;
    margin: 0px 20px;
    .article-card {
      float: left;
      width: 25%;
      height: auto;
    }
    .article-card-image-wrapper {
      position: absolute;
      left: 25%;
      right: 0;
      bottom: 0;
      top: 0;
      padding-left: 45px;
      .article-card-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
      }
    }
  }
}
