.articles {
	margin-left: -15px;
	margin-right: -15px;
}
article {
	padding: 0px 0px;
	header.article-header {
		margin-top: 60px;
		margin-bottom: 40px;
	}

	.article-body {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
article.item-full  {
	.article-body-wrapper {
		padding: 40px;
	}
	.article-summary p{
		max-width: 500px;
	}
	.feature-wrapper {
		position: relative;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 30px;
		margin-bottom: 30px;
		overflow: hidden;
	}
	.feature {
		float: left;
		width: auto;
		position: relative;
		overflow: hidden;
		max-width: 700px;
	}
	.feature-caption {
		clear: both;
		overflow: hidden;
		text-align: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.article-content {
		max-width: 550px;
	}
	.article-media {
		margin: 40px 0;
		.article-card {
			width: 200px;
			height: 300px;
			border-radius: 5px;
			background-color: $white;
			overflow: hidden;
		}
	}
	.article-secondary-image {
		height: 100%;
		width: 100%;
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	@media screen and (min-width: 769px){
		.article-media {
			margin: 40px 0;
			overflow-y: hidden;
			margin-left: -30px;
			.article-card {
				float: left;
			}
			.article-secondary-image-wrapper {
				position: relative;
				float: left;
				height: 300px;
				margin-left: 40px;
				max-width: 100%;
				width: 390px;
				overflow: hidden;
			}
		}
	}
}
article.item-half {
	width: 50%;
	float: left;
	overflow: hidden;
	.feature {
		margin-bottom: 20px;
		position: relative;
	}
	.more-link {
		white-space: nowrap;
	}
}
.video-placeholder {
	background-image: url('../assets/images/video.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 0;
	margin-right: 0;
	min-width: 600px;
	height: 422px;
}
