.section-bfamfaphd {
  .interstitial-module {
    position: relative;
    width: auto;
    .supply-ring {
      margin: 0px auto;
      background-image: url('../assets/images/supply_chains_ring.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 30vh;
      height: 30vh;
    }
    h3, h3.lead, a, p {
      max-width: 800px;
    }
    h3 a {
      color: $light-blue;
      border-bottom: 1px solid $light-blue;
      padding-bottom: 6px;
      z-index: 3;
    }
  }
  @media screen and (min-width: 1024px){
    .interstitial-module {
      padding-bottom: 260px; /*168px*/
      .supply-ring {
        position: absolute;
        bottom: 90px;
        right: 80px;
        background-position: right;
      }
    }
  }
  .projects {
    max-width: 100vw;
    margin-top: 60px;
    margin-bottom: 60px;
    .projects-list {
      a h5 {
        color: $violet !important;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .projects {
      width: 130%;
      margin-left: -15%;
    }
  }
  .topics article.item-full#topic-events {
    p,h1,h2,h3,h4,h5,h6,li, a {
      color: $violet;
    }
  }
  ul.ecs-event-list {
    li.ecs-event {
      list-style: none;
      padding-bottom: 30px;
      border-bottom: 1px solid $violet;
      &:last-child {
        border-bottom: 1px solid $light-blue;
      }
      &:before {
        content: '';
      }
      h4.entry-title{
        margin-bottom: 2px;
      }
      p.ecs-excerpt {
        margin-bottom: 2px;

      }
    }
    margin: 20px 0;
    &:nth-child(4n){
      li.ecs-event * {
        color: $light-blue !important;
        border-color: $light-blue !important;
      }
      li.ecs-event {
        border-bottom: 1px solid $light-blue;
        &:last-child {
          border-bottom: 1px solid $violet;
        }
      }
    }
  }
  #topic-events .article-content ul.ecs-event-list:nth-child(4n-2) + h3 {
    color: $light-blue;
  }
}
