.section-bfamfaphd {
  article#topic-home .article-body {
    padding-bottom: 0px;
  }
  .interstitial-module {
    position: relative;
    width: auto;
    .supply-ring {
      margin: 0px auto;
      background-image: url('../assets/images/supply_chains_ring.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 30vh;
      height: 30vh;
    }
    h3, h3.lead, a, p {
      max-width: 800px;
    }
    h3 a {
      color: $light-blue;
      border-bottom: 1px solid $light-blue;
      padding-bottom: 3px;
      z-index: 3;
    }
  }
  @media screen and (min-width: 1024px){
    .interstitial-module {
      padding-bottom: 260px; /*168px*/
      .supply-ring {
        position: absolute;
        bottom: 30px;
        right: 20px;
        background-position: right;
      }
    }
  }
  .projects {
    max-width: 100vw;
    margin-top: 60px;
    margin-bottom: 60px;
    .projects-list {
      .item {
        margin-bottom: 55px;
      }
      a {
        h5, h6 {
          color: $violet !important;
          margin: 3px 0;
        }
        h5.project-title {
          margin-top: 15px;
          font-style: italic;
        }
        h6.author {
          display: none;
        }
        h6.year {
          display: none;
          margin-bottom: 10px
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .projects {
      width: 130%;
      margin-left: -15%;
    }
  }
  .topics article.item-full#topic-events {
    p,h1,h2,h3,h4,h5,h6,li, a {
      color: $violet;
    }
  }
  article.item-full {
    .article-content p {
      max-width: 600px;
      /*550px*/
      // margin-bottom: 0;
      color: $violet;
    }
  }
  ul.ecs-event-list {
    margin: 20px 0 0 0;
    li.ecs-event {
      list-style: none;
      padding-bottom: 30px;
      &:before {
        content: '';
      }
      * {
        color: $violet !important;
        border-color: $violet;
      }
      h4.entry-title{
        margin-bottom: 2px;
      }
      p.ecs-excerpt {
        margin-bottom: 2px;

      }
    }
    &:nth-child(4n){
      li.ecs-event * {
        color: $light-blue !important;
        border-color: $light-blue;
      }
    }
  }
  #topic-events {
    h3 {
      margin-top: 20px;
    }
  }
  .article-content ul.ecs-event-list:nth-child(4n-2) + h3 {
    color: $light-blue;
  }
}
