$black: #000000;
$white: #ffffff;
$text-underline: #000000;
$salmon: rgb(255,94,60);
$blue: rgb(60,113,214);
$light-blue: rgb(51,102,255);
$gray: rgb(245,245,245);
$gray-overlay: rgba(245,245,245,.9);
