.mailchimp-form {
  overflow: hidden;
  form {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
  }
  h3, h4, h5 {
    color: $light-blue;
  }
  label {
    font-size: 15px;
    color: $light-blue;
  }
  .form-group {
    display: block;
    position: relative;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn-subscribe {
    background-color: transparent;
    color: $light-blue;
    box-shadow: none;
    border: 0px;
  }
  @media screen and (min-width: 480px) {
    .form-group {
      width: 33%;
    }
  }
}
