.mailchimp-form {
  overflow: hidden;
  form {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
  }
  h4 {
    color: $light-blue;
  }
  label {
    font-size: 20px;
    color: $light-blue;
  }
  .form-group {
    display: block;
    position: relative;
    float: left;
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn-subscribe {
    background-color: transparent;
    color: $light-blue;
    box-shadow: none;
    border: 0px;
  }
}
