#game {
	background-color: $gray;
	position: relative;
	height: calc(100% - 80px);
	margin-bottom: 30px;
	#drawCardsToggle {
		position: absolute;
		z-index: 99;
		right: -25px;
		top: 50%;
		transform: rotate(-90deg);
		cursor: pointer;
		background: none;
		border: 0px;
		outline: none;
		padding: 0px 0;
		.text {
			float: left;
			display: block;
			font-size: 16px;
			font-weight: 400;
			    border-bottom: 1px solid black;
		}
		.arrow {
			float: left;
			display: block;
			margin: 0px 5px;
			text-decoration: none;
			transition: transform ease-in-out 500ms;
		}
		&[aria-expanded=true] .arrow {
			transform: scaleY(-1);
		}
	}
	#drawCardsContainer {
		position: absolute;
		top: 0;
		bottom:0;
		right: 0;
		left: 0;
		background-color: $gray-overlay;
		display: flex;
		flex-direction: column;
		.cardsWrapper {
			position: relative;
			width: 100%;
		}
		$card-height: 300px;
		.cards {
			perspective: 2000px;
			.card, .deck {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -.32 * $card-height;
				margin-top: -.5 * $card-height;
				height: $card-height;
				width: .63 * $card-height;
				max-height: 100%;
				padding-left: 15px;
				padding-right: 15px;
				transition: transform 500ms ease-in-out;
				transform-style: preserve-3d;
				transform-origin: right bottom;
				.back {
					transform: rotateY(0deg);
				}
				.img {
					transform: rotateY(180deg);
					z-index: 2;
				}
				.img, .back {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					backface-visibility: hidden;
				}
			}
			.card.open {
				z-index: 100;
				transform: scale(1.5) rotateY(180deg) translateX(.5 * $card-height) !important;
			}
			&.dealt {
				.card-1 {
					transform: rotate(15deg);
				}
				.card-2 {
					transform: rotate(30deg);
				}
				.card-3 {
					transform: rotate(45deg);
				}
			}
		}
		#refreshButton {
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: 75px;
			height: 75px;
			cursor: pointer;
			background-image: url(../assets/images/refresh.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
		#instructionsButton {
			position: absolute;
			bottom: 20px;
			right: 20px;
			width: 75px;
			height: 75px;
			cursor: pointer;
			background-image: url(../assets/images/instructions.svg);
			background-repeat: no-repeat;
			background-size: contain;
			a {
				display: block;
				height: 100%;
				width: 100%;
				border-bottom:none;
			}
			a:hover{
				border-bottom:none;
			}
		}
		.story {
			width: 100%;
			p {
				// font-size: 20px;
				padding: 0 20px 20px 20px;
				margin: 0px auto;
				text-align: center;
				max-width: 600px;
			}
		}
	}
	#cards {
		position: relative;
		max-width: 100%;
		margin: 40px auto;
		padding-bottom: 40px;
		height: 100%;
		#circle {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			svg {
				display: block;
				margin: 0px auto;
				#circleOverlay {
					fill: $gray;
				}
				#contentClickable {
					pointer-events: fill;
					transition: background ease-in-out 300ms;
					&:hover {
						fill: rgba(0,0,0,.07);
						cursor: pointer;
					}
				}
				g#labelContainer {
					transition: transform ease-in-out 1000ms;
					transform-origin: 50% 50%;
				}
				g.label {
					font-size: 16px;
					font-weight: 400;
					cursor: pointer;
					.arrow {
						transition: transform ease-in-out 300ms;
						transform: translateY(0px);
					}
					&:hover .arrow,
					&:focus .arrow,
					&:active .arrow,
					&.active .arrow
					{
						transform: translateY(10px);
					}
				}
			}
		}
	}
}
@media screen and (min-width: 481px){
	#game #drawCardsContainer .story {
			padding-left: 80px;
			padding-right: 80px;
	}
}
@media screen and (max-width: 1024px){
	#game #drawCardsToggle {
		transform: none;
		bottom: 20px;
		top: auto;
		left: 50%;
		margin: 0;
		width: 145px;
		margin-left: -73px;
		right: auto;
	}
	#game #drawCardsContainer {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 481px){
	#game #cards #circle svg{
		g.label {
			font-size: 12px;
			.arrow {
				transform: translateY(-5px);
				&.active {
					transform: translateY(0px);
				}
			}
		}
	}
	#game #drawCardsContainer {
		#refreshButton {
			bottom: -40px;
			left: 0;
			width: 40px;
			height: 40px;
		}
		#instructionsButton {
			bottom: -40px;
			right: 0;
			width: 40px;
			height: 40px;
			a {
				border-width: 0;
			}
		}
		.cardsWrapper {
			overflow-x: scroll;
			width: 100%;
			.cards {
				width: 220%;
				.card {
					height: 100%;
				}
			}
		}
	}
}
.hasNavbar #game {
	height: calc(100vh - 120px);
}
