#game-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 0;
	height: 100%;
}
#game {
	flex-grow: 1;
	position: relative;
	width: 100%;
	#drawCardsToggle {
		position: absolute;
		z-index: 110;
		right: -25px;
		top: 50%;
		transform: rotate(-90deg);
		cursor: pointer;
		background: none;
		border: 0px;
		outline: none;
		padding: 0px 0;
		.text {
			float: left;
			display: block;
			font-size: 16px;
			font-weight: 400;
			    border-bottom: 1px solid black;
		}
		.arrow {
			float: left;
			display: block;
			margin: 0px 5px;
			text-decoration: none;
			transition: transform ease-in-out 500ms;
		}
		&[aria-expanded=true] .arrow {
			transform: scaleY(-1);
		}
	}
	#drawCardsContainer {
		position: absolute;
		top: 0;
		bottom:0;
		right: 0;
		left: 0;
		background-color: $gray-overlay;
		display: flex;
		flex-direction: column;
		z-index: 100;
		.cardsWrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			position: relative;
			width: 100%;
			height: 100%;
		}
		//start scaled down so the card will be full res when opened
		$card-open-scale: 2;
		$card-height: 100%;
		$card-width: 100%;
		$card-height-scaled: $card-open-scale * $card-height;
		$card-width-scaled: $card-open-scale * $card-width;
		.cards {
			position: relative;
			perspective: 2000px;
			transition: transform 750ms ease-in-out;
			height: 300px;
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			.card, .deck {
				position: absolute;
				bottom: 0;
				top: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				max-width: 400px;
				margin-top: 10%;
				padding: 30px 0;
				transform-style: preserve-3d;
				transform-origin: top center;
				cursor: pointer;
				border-width: 0px;
				transform: scale(1 / $card-open-scale);
				transition: transform 750ms ease-in-out;
				&.open {
					z-index: 100 !important;
					transform: scale(.90) rotateY(180deg) translate3d(0, 0, -100px) !important;
					margin-top: 0%;
					img {
						transform: rotate(0) !important;
					}
				}
				.back {
					transform: rotateY(0deg);
				}
				.img {
					transform: rotateY(180deg);
					z-index: 2;
				}
				.img, .back {
					margin: 0;
					position: absolute;
					backface-visibility: hidden;
					transition: transform 750ms ease-in-out;
					img {
						width: 100%;
						height: auto;
						border-radius: 28px;
						transform-origin: bottom center;
						transition: transform 750ms ease-in-out;
					}
				}
				.back img {
					border: 2px solid $white;

				}
			}
			.deck img{
				box-shadow: -3px 5px 10px 1px rgba(0,0,0,.25);
			}
			&.dealt {
				transform: translateX(-50%);
				.card img {
					box-shadow: -3px 5px 10px 1px rgba(0,0,0,.25);
					pointer-events: all;
				}
				.deck {
					transform: scale(1 / $card-open-scale) translateX(-30%);
					z-index: 99;
				}
				.card-1 {
					z-index: 98;
					img {
						transform: translateX(125%) rotate(-15deg);
					}
				}
				.card-2 {
					z-index: 97;
					img {
						transform: translateX(125%) rotate(0deg);
					}
				}
				.card-3 {
					z-index: 96;
					img {
						transform: translateX(125%) rotate(15deg);
					}
				}
				.card.open {
					.img {
						padding-left: 15px;
					}
					transform: scale(.9) rotateY(180deg) translate3d(-50%, 0, -100px) !important;
				}
			}
		}
		#refreshButton {
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: 75px;
			height: 75px;
			cursor: pointer;
			background-image: url(../assets/images/refresh.svg);
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 99;
		}
		#instructionsButton {
			position: absolute;
			bottom: 20px;
			right: 20px;
			width: 75px;
			height: 75px;
			cursor: pointer;
			background-image: url(../assets/images/instructions.svg);
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 99;
			a {
				display: block;
				height: 100%;
				width: 100%;
				border-bottom:none;
			}
			a:hover{
				border-bottom:none;
			}
		}
		.story {
			width: 100%;
			p {
				// font-size: 20px;
				padding: 0 20px 20px 20px;
				margin: 0px auto;
				text-align: center;
				max-width: 600px;
			}
		}
	}
	#cards {
		bottom: 0;
		position: absolute;
		left: 0;
		max-width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		#circle {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			svg {
				display: block;
				margin: 0px auto;
				#circleOverlay {
					fill: $gray;
				}
				#contentClickable {
					pointer-events: fill;
					transition: background ease-in-out 300ms;
					&:hover {
						fill: rgba(0,0,0,.07);
						cursor: pointer;
					}
				}
				g#labelContainer {
					transition: transform ease-in-out 1000ms;
					transform-origin: 50% 50%;
				}
				g.label {
					font-size: 16px;
					font-weight: 400;
					cursor: pointer;
					.arrow {
						transition: transform ease-in-out 300ms;
						transform: translateY(0px);
					}
					&:hover .arrow,
					&:focus .arrow,
					&:active .arrow,
					&.active .arrow
					{
						transform: translateY(10px);
					}
				}
			}
		}
	}
}
@media screen and (min-width: 481px){
	#game #drawCardsContainer .story {
			padding-left: 80px;
			padding-right: 80px;
	}
}
@media screen and (max-width: 1024px){
	#game #drawCardsToggle {
		transform: none;
		bottom: 20px;
		top: auto;
		left: 50%;
		margin: 0;
		width: 165px;
		margin-left: -73px;
		right: auto;
	}
	#game #drawCardsContainer {
		margin-bottom: 40px;
		&.slide {
			transform: translateY(100%);
			&.in {
				transform: none;
			}
		}
	}
}
@media screen and (max-width: 481px){
	#game #cards #circle svg{
		g.label {
			font-size: 12px;
			.arrow {
				transform: translateY(-5px);
				&.active {
					transform: translateY(0px);
				}
			}
		}
	}
	#game #drawCardsContainer {
		#refreshButton {
			bottom: -40px;
			left: 0;
			width: 40px;
			height: 40px;
		}
		#instructionsButton {
			bottom: -40px;
			right: 0;
			width: 40px;
			height: 40px;
			a {
				border-width: 0;
			}
		}
	}
}
.hasNavbar #game {
	height: calc(100vh - 120px);
}
#notice {
	@media screen and (max-width: 481px) {
		display: none;
	}
	background-color: $gray;
	color: $black;
	padding: 30px;
	margin-top: 30px;
	p {
		margin-bottom: 0;
	}
}
