body {
	padding-top: 120px;
}
body.home {
	padding-top: 80px;
}
.container {
	font-family: 'Work Sans', Verdana, sans-serif;
	color: $black;
}
.dots-logo {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-image: url('../assets/images/dots.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

h2 {
	font-weight: 600;
	font-size: 32px;
}

h3 {
	font-weight: 600;
	font-size: 32px;
}

body p {
	font-size: 16px;
	margin-bottom: 30px;
}
.slide {
	transition: transform ease-in-out 500ms, opacity ease-in-out 500ms, height ease-in-out 500ms;
}
.slide:not(.in) {
	position: absolute;
	transform: translateX(100%);
	opacity: 0;
	height: 0;
}
@media screen and (max-width: 769px) {
	.slide:not(.in) {
		position: absolute;
		top: 0;
		transform: translateY(-150%);
		height: 0;
	}
}
