* {
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  margin: 0 0 20px;
}

body.hasNavbar {
  padding-top: 50px;
}

body.home {
  padding-top: 80px;
}

body.scrollLocked {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  .container {
    position: relative;
    height: 100%;
  }
}

@media screen and (max-width: 769px) {
  body,
  body.home {
    padding-top: 40px;
  }
}
.page {
  margin-bottom: 40px;

}

.container, .container-fluid {
  font-family: 'Work Sans', Verdana, sans-serif;
  color: $black;
}
.container {
  max-width: 1200px;
}
.btn {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
h4,
label,
h5 {
  font-size: 15px;
  font-weight: 400;
}

.section-bfamfaphd {
  a,
  a:hover,
  a:focus {
    color: $violet;
    border-bottom: 1px solid $violet;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a,
  label {
    color: $violet;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  h3 {
    font-size: 24px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  h3.lead {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  h5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h5.project-title {
    margin-top: 15px;
  }
  h5:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 4vw;
      line-height: 5vw;
    }
  }
  body p {
    color: $violet;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.section-supply-chains {
  h1, h2, h3, h4, h5, h6,
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: $black;
    font-weight: 600;
    border-width: 0px;
    &:hover {
        color: $black;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 32px;
  }
  h3 {
    font-weight: 600;
    font-size: 32px;
  }
  a,
  p a {
    color: $black;
    border-bottom: 1px solid $black;
  }
  a.more-link {
    border-bottom-width: 0px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  article.item-half p{
    line-height: 22px;
  }
  article.item-third p{
    line-height: 22px;
  }
}

.slide {
  transition: transform ease-in-out 500ms, opacity ease-in-out 500ms, height ease-in-out 500ms;
  transform: translateX(100%);
  opacity: 0;
}

.slide.in,
.slide.lg-in {
  transform: none;
  opacity: 1
}

iframe {
  //margin: 20px auto;
  display: block;
}

input.form-control {
  width: 100%;
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  border-bottom: 1px solid $light-blue;
  color: $violet;
  font-size: 15px;
  line-height: 22px;
  height: 30px;
  &:focus {
    box-shadow: none;
  }
}
