*{
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.hasNavbar {
	padding-top: 120px;
}
body.home {
	padding-top: 80px;
}
body.scrollLocked {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	.container {
		position: relative;
		height: 100%;
	}
}
@media screen and (max-width: 769px){
	body,
	body.home {
		padding-top: 20px;
	}
}
.container {
	font-family: 'Work Sans', Verdana, sans-serif;
	color: $black;
	max-width: 1200px;
}
.dots-logo {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-image: url('../assets/images/dots.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
{
	color: $black;
	font-weight: 600;
	&:hover {
		color: $black;
	}
}

h2 {
	font-weight: 600;
	font-size: 32px;
}

h3 {
	font-weight: 600;
	font-size: 32px;
}

body p {
	font-size: 16px;
	margin-bottom: 30px;
}
.slide {
	transition: transform ease-in-out 500ms, opacity ease-in-out 500ms, height ease-in-out 500ms;
	transform: translateX(100%);
	opacity: 0;
}
.slide.in,
.slide.lg-in {
	transform: none;
	opacity: 1
}

@media screen and (max-width: 769px) {
	.slide,
	.slide.lg-in {
		top: 0;
		transform: translateY(-150%);
		opacity: 0;
		display: none;
	}
	.slide.in{
		display: block;
		transform: none;
		height: auto;
		opacity: 1;
	}
}
