.navbar {
	font-size: 16px;
	background-color: $white;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: $black;
  &.navbar-bfamfaphd {
    .container {
      border-bottom: 1px solid $light-blue;
    }
    li, li a, li.active a, a, a:hover {
      color: $light-blue;
    }
  }
	.container {
		position: relative;
	}

	.navbar-title {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-decoration: underline;
		&:hover {
			cursor: pointer;
			color: inherit;
		}
	}

	.navbar-logo {
		position: absolute;
		right: 15px;
		top: 0px;
		text-align: right;
	}

  .navbar-interstitial {
    float: right;
    ul, ul li {
      float: right;
    }
    text-align: right;
  }

	ul.navbar-nav {
		margin-left: -15px;
		margin-right: -15px;
	}

	a {
		color: $black;
		font-size: 16px;
	}
	ul li {
		&.active a,
		a:hover,
		a:active,
		a:focus {
			text-decoration: underline;
			display: inline-block;
			position: relative;
			background-color: $white;
			color: $black;
		}
	}
	.navbar-header a.navbar-brand {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
