.navbar {
  font-size: 16px;
  background-color: $white;
  font-weight: 400;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  color: $black;
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  ul li {
    &.active a,
    a:hover,
    a:active,
    a:focus {
      // text-decoration: underline;
      border-bottom: 1px solid $light-blue;
      display: inline-block;
      position: relative;
      background-color: $white;
      color: $black;
    }
  }
  &.navbar-supply-chains {
    height: 60px;
    li.active a,
    a:hover, a:active, a:visited, a:focus {
      border-bottom: 1px solid $black;
    }
    a.navbar-title {
      border-width: 0px !important;
    }
    .container {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    #menu-supply-chains-menu {
      li a {
        border-width: 0px;
        &:hover, &:active, &:visited, &:focus {
          border-width: 1px;
        }
      }
    }
    #bfa-nav-chain-menu {
      overflow: hidden;
      background-color: $white;
      ul {
        margin-top: 10px;
        margin-bottom: 20px;
        overflow: hidden;
      }
      &.collapse {
        display: block;
        transform: scaleY(0);
        transition: transform 500ms ease-in-out;
        transform-origin: top;
        &.in {
          transform: scaleY(1);
        }
      }


    }
  }
  &.navbar-bfamfaphd {
    border-bottom: 1px solid $light-blue;
    height: 60px;
    .container {
      // border-bottom: 1px solid $light-blue;
    }
    a.navbar-title {
      border-width: 0px !important;
    }
    li,
    li a,
    li.active a,
    a,
    a:hover {
      background-color: $white;
      color: $light-blue;
      font-weight: 400;
    }
    li.active a,
    a:hover {
      border-bottom: 1px solid $light-blue;
    }
  }
  .navbar-nav {
    li > a {
        padding-top: 10px;
        padding-bottom: 0;
    }
  }
  .nav > li > a {
    padding: 0;
    padding-top: 10px;
    margin-left: 15px;
    border-bottom: 1px solid transparent;
  }
  .container {
    position: relative;
    padding-bottom: 8px;
  }
  .navbar-title-wrap {
    display: block;
    padding-top: 10px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: inherit;
    // text-decoration: underline;
    // border-bottom: 1px solid $light-blue;
    // width: 95px; // To allow the underline to be the correct size - is there a better way to do this?!?
    a {
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 768px) {
    &.navbar-bfamfaphd {
      .navbar-menu.in li {
        border-bottom: 1px solid $light-blue;
        &:hover {
          background-color: $light-blue;
          color: $white;
        }
      }
    }
    &.navbar-supply-chains {
      .navbar-menu.in li {
        border-bottom: 1px solid $black;
        &.active {
          background-color: $black;
          a {
            border-width: 0;
            color: white;
          }
        }
        &:hover, &:hover a {
          background-color: $black;
          color: $white;
        }
      }
    }
    .navbar-menu {
      margin: 0 0;
      padding: 20px 0;
      background: $white;
      max-height: 95%;
      position: fixed;
      left: 0;
      width: 100%;
      transition: transform 500ms ease-in-out;
      transform: scaleY(0);
      transform-origin: top;
      text-align: center;
      &.in {
        transform: scale(1);
      }
      .navbar-nav {
        margin: 0px;
      }
      li {
        height: 60px;
        padding-top: 10px;
        a {
          background-color: transparent !important;
        }
        a:hover {
          background-color: transparent !important;
          border-width: 0px;
          color: $white;
        }
      }
    }
  }
  .navbar-toggle {
    position: absolute;
    right: 0px;
    top: -2px;
    span.icon-bar {
      background-color: $light-blue;
    }
  }
  .navbar-logo {
    position: absolute;
    right: 15px;
    top: 5px;
    text-align: right;
    cursor: pointer;
    z-index: 99;
    border-width: 0;
  }
  a.navbar-logo:hover {
    border-bottom: none;
  }
  .navbar-interstitial {
    float: right;
    ul,
    ul li {
      float: right;
    }
    text-align: right;
  }
  ul.navbar-nav {
    margin-left: -15px;
    margin-right: -15px;
  }
  a {
    color: $black;
    font-size: 16px;
  }
  .navbar-header a.navbar-brand {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .dots-logo {
    position: relative;
    top: -5px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../assets/images/dots.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0);
    transform-origin: center;
    transition: transform 500ms ease-in-out;
    &[aria-expanded=true] {
      transform: rotate(180deg);
    }
  }
}
