.navbar {
	font-size: 16px;
	background-color: $white;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 30px;
	color: $black;
	.container {
		position: relative;
	}

	.navbar-title {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		&:hover {
			cursor: pointer;
			text-decoration: none;
			color: inherit;
		}
	}

	.navbar-logo {
		position: absolute;
		right: 0;
		top: 0px;
		text-align: right;
	}

	ul.navbar-nav {
		margin-left: -15px;
		margin-right: -15px;
	}

	a {
		color: $black;
		font-size: 16px;
	}
	ul li {
		&.active a,
		a:hover,
		a:active,
		a:focus {
			display: inline-block;
			position: relative;
			background-color: $white;
			color: $black;
			&:after {
				content: '';

				position: absolute;
				left: 15px;
				right: 15px;
				bottom: 8px;
				border: 1px solid $text-underline;
			}
		}
	}
	.navbar-header a.navbar-brand {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	@media screen and (min-width: 880px) {
		#bfa-nav-supply-menu ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			li {
				flex: 1;
			}
		}
	}
}
