.section-supply-chains {
  .supply-chain-list {
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    article {
      margin-top: 0;
      header {
        padding-top: 6px;
        padding-bottom: 10px;
      }
      .feature {
        height: 260px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

    }
  }
  .supply-chain-section-wrap {
    width: 100%;
    background-color: $gray;
    padding: 60px;
    margin: 30px 0;
    .supply-chain-section {
      max-width: 600px;
      margin: 0px auto;
    }
  }
  .supply-chain-collapse-wrap {
    padding-bottom: 15px;
    border-bottom: 1px solid $black;
    margin: 30px 0;
    header {
      position: relative;
      cursor: pointer;
      &[aria-expanded=true]:before {
        transform: rotate(90deg);
      }
      &:before {
        position: absolute;
        right: 0px;
        top: -5px;
        width: 20px;
        height: 20px;
        content: '\2193';
        text-align: center;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
        transition: transform 500ms ease-in-out;
      }
    }
    .supply-chain-collapse {
      position: relative;
      max-height: 100px;
      overflow: hidden;
      transition: max-height 500ms ease-in-out;
      z-index: 0;
      padding-bottom: 40px;
      &.in {
        max-height: 1500px !important;
      }
      .collapse-gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background: linear-gradient(to bottom, transparent 30%, $gray);
        z-index: 2;
      }
    }
  }
  .ecs-event-list {
    margin-left: 0px;
    padding-left: 0px;
    li {
      list-style: none;
    }

  }
  .mailchimp-form {
    background-color: $gray;
    padding: 20px;
    margin: 20px 0;
    color: $black !important;
    h3 {
      color: $black !important;
      font-size: 18px;
      margin-bottom: 30px;
    }
    h5, label.control-label, .btn {
      color: $black;
    }
    input.form-control {
      background-color: $gray;
      color: $black;
      border-color: $black;
    }
    input[type=submit] {
      clear: both;
    }
  }
  @media screen and (min-width: 1024px){
    article.item-full {
      .article-content {
        margin-left: 130px;
        width: 540px;
      }
    }
  }
}
