

#arts {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: left;
	/*background: url(/img/timelinebg.png) repeat-y #FCFCFC;*/
	/*background-size: 100% 100%;*/
	height: auto;

	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;	
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	color: #000000;
	letter-spacing: 1pt;

	a:link, a:visited, a:active{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;	
		text-rendering: optimizeLegibility;
		margin: 0;
		padding: 0;
		color: #000000;
		letter-spacing: 1pt;
		font-size: 10pt;
	}

	a:hover {
		color: #44cd4d;
		text-decoration: none;
		font-weight: 500;
	}

	#modeMoved {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			text-decoration: none;
			-webkit-font-smoothing: antialiased;	
			text-rendering: optimizeLegibility;
			margin: 0;
			padding: 0;
			color: #000000;
			letter-spacing: 1pt;
			font-size: 8pt;
			/*visibility: hidden;*/
			width: 220px;
			height: 800px;
			padding: 8px;
			/*background: rgba(0,0,0,.4);*/
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			position: absolute !important;
			top: 7% !important;
			left: 1% !important;
			margin-top: -0px !important;
			margin-left: -0px !important;
			z-index: 101;
			/*color: #F0F0F0;*/
	}

	#modal {
			visibility: hidden;
			width: 900px;
			height: 189px;
			padding: 8px;
			background: rgba(0,0,0,.4);
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			position: absolute !important;
			top: 50% !important;
			left: 50% !important;
			margin-top: -94px !important;
			margin-left: -400px !important;
			z-index: 101;
			color: #F0F0F0;

			/*kinda works*/
			/*visibility: hidden;
			width: 900px;
			height: 189px;
			padding: 8px;
			background: rgb(255, 255, 255);
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			position: absolute !important;
			top: 50% !important;
			left: 50% !important;
			margin-top: -94px !important;
			margin-left: -400px !important;
			z-index: 101;*/
		}
		.reveal-modal-bg { 
			position: fixed; 
			height: 100%;
			width: 100%;
			background: #000;
			background: rgba(0,0,0,.4);
			z-index: 100;
			display: none;
			top: 0;
			left: 0; 

			/*kinda works*/
			/*position: fixed;
			height: 100%;
			width: 100%;
			background: #000;
			background: rgba(0,0,0,.1);
			z-index: 1000;
			display: none;
			top: 0;
			left: 0;*/
		}

	#subtitle{
				font-family: 'Lato', sans-serif;
				font-size: 10pt;
				font-weight: 300;
				text-decoration: none;
				-webkit-font-smoothing: antialiased;	
				text-rendering: optimizeLegibility;
				margin: 0;
				padding: 0;
				color: #000000;
				letter-spacing: 1pt;
			}
	h1, h2, h3, h4 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;	
		text-rendering: optimizeLegibility;
		margin: 0;
		padding: 0;
		color: #000000;
		letter-spacing: 1pt;
	}

	h1 {
		opacity: 0.9;
		font-size: 36pt;
		margin: 0;
		padding: 0;
	}

	h2 {
		opacity: 0.9;
		font-size: 12pt;
		margin: 0;
		padding: 10px 0;
		text-transform: uppercase;
		height: 0;
	}

	h3 {
		opacity: 0.5;
		font-size: 12pt;
		word-spacing:15px;
		padding-right: 0;
		padding-bottom: 0px;
		padding-left: 0;
		/*line-height: 20px;*/
		margin: 0;
	}

	h4 {
		opacity: 0.9;
		font-size: 12pt;
		margin: 0;
		line-height: 15px;
		padding: 0;
	}


	header {
		padding: 10px;
		font-family: 'Lato';
		font-size: 22pt;
		margin: 0;
		box-shadow: 0 1px #e2e5e4;
		/*background: url(/img/headerbg.png);*/
		/*height: 10px;*/
	}



	#click{
		padding-bottom: 20px;
		padding-top: 20px;
	}

	toggleButtons {
			margin: auto;
			height: 10px;
			width: 100%;
			position: relative;
			padding-bottom: 20px;
	}

	toggleTimeline {
			margin: 0;
			padding: 0px 10px 0 10px;
			/*display: table-cell;*/
			text-align: right;
			cursor: pointer; /*changed this -annelie*/
	}
	toggleTimeline:hover {
					opacity: 0.5;
	}

	toggleCluster {
			margin: 0;
			padding: 0px 10px 0 10px;
			/*display: table-cell;*/
			text-align: left;
				cursor: pointer; /*changed this -annelie*/
	}

	toggleCluster:hover {
		opacity: 0.5;
		/*padding-top: 1px;*/
	}

	#filter{
		padding-bottom: 30px;
	}
	tags {
	/*    cursor: pointer;
	*/	margin: auto;
		height: 10px;
		width: 100%;
		position: relative;
		padding-top:5px;
		padding-bottom:20px;
		opacity: 0.8;
	/*	padding: 20px 0px 20 0px;
	*/}

	toggleDrive:hover {
		opacity: 0.5;
				cursor: pointer;

	}

	toggleHack:hover {
		opacity: 0.5;
		cursor: pointer;
		padding: 0px 0px 20 0px;

	}

	toggleRoot:hover {
		opacity: 0.5;
				cursor: pointer;

	}
	toggleIgnite:hover {
		opacity: 0.5;
				cursor: pointer;

	}
	toggleForm:hover {
		opacity: 0.5;
				cursor: pointer;

	}
	toggleGlobal:hover {
		opacity: 0.5;
				cursor: pointer;

	}

	key {
		position: fixed;
		padding-left: 1800;
		margin: 0;
		/*padding: 0;
		display: block;
		/*margin-left: -100;*/
		/*bottom-right: 30px;*/
	}



	timeline {
		margin: 0;
		padding: 0;
	}

	specialBar {
		background: url(/img/timelinebg.png) repeat-y #FCFCFC;
		background-size: 100% 100%;
		width: 100%;
		height: 500px;
		visibility: hidden;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 20px;
		z-index: 1000;
	}




	#hashtagForm {
			padding: 30px;
			margin: 0;
			display: table-cell;
			top: 0;
			overflow: hidden;
			border: 1px solid #e2e5e4;

		}


	.button {
			-webkit-appearance: none;
			margin: 0 0 60px;
			padding: 10px 15px;
			width: auto;
			height: auto;
			color: #FFFFFF;
			border-style:none;

			font-size: 8pt;
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			-webkit-font-smoothing: antialiased;	
			text-rendering: optimizeLegibility;
			letter-spacing: 1pt;
			background-color: #C0C0C0;
			position: fixed;
			text-align: center;
			bottom: 0;
				cursor: pointer; /*changed this -annelie*/
		}
}
