@import "compass/reset"
@import "compass/css3"

$accent : #010101
*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font-family: "museo-sans-rounded", sans-serif
  font-weight: 300

.content
  position: relative
  width: 960px
  margin: 0 auto

.header
  width: 100%
  background-color: $accent
  position: fixed
  top: 0
  z-index: 200
  padding: 10px 0
  .content
    a
      text-decoration: none
      color: #ffffff
    a:hover, a.active
      border-bottom: 2px solid #ffffff
    ul.navigation
      float: right
      font-size: 1.4em
      letter-spacing: .05em
      font-weight: 400
      margin-top: 3px
      li
        float: left
        margin-left: 30px
      li:first-child
        margin-left: 0
    h1
      font-weight: 800
      font-size: 1.9em
      float: left
      letter-spacing: .05em
      color: #ffffff

.section
  width: 100%
  overflow: auto
  padding: 60px 0
  .content
    p, li
      line-height: 1.6em
      font-size: 1.2em
    &>p
      margin: 0 100px 30px 100px
    ul
      margin-bottom: 30px
      li
        margin: 0 100px 0 120px
        list-style-type: disc
    h3
      font-size: 1.6em
      font-weight: 600
      margin: 0 0 20px 80px
      letter-spacing: 0.01em
    h2
      font-size: 3em
      font-weight: 600
      margin: 0 0 60px 80px
      letter-spacing: 0.01em

.home.invert
  background-color: $accent
.home
  padding: 100px 0 30px 0
  .content
    h2, .subhead
      float: right
      line-height: 1.6em
      font-size: 1.8em
      font-weight: 700
      margin: 0 0 30px 0
      letter-spacing: 0.01em
      width: 750px

    .subhead
      font-size: 1.2em
      font-weight: 500
    p.logo-top
      float: left
      margin: 5px 0 0 -5px
      img
        width: 150px
        height: auto
  .projectSlideshow
    float: left
    width: 100%
    margin: 30px 0
    .projectSlide
      margin: 0
      float: left
    a
      margin: 15px 0
      background-color: $accent
      float: left
      border-bottom: none
      img
        float: left
    a:hover
      +opacity(.8)
      img
        position: relative
        +opacity(0.8)
    a:hover:before
      content: "LAUNCH PROJECT"
      text-align: center
      height: 100%
      line-height: 450px
      position: absolute
      letter-spacing: .05em
      margin-top: 0px
      top: 0
      left: 0
      z-index: 101
      font-size: 3em
      width: 100%
      font-weight: 800
      color: #fff 
    .credit
      p
        margin: 0
      float: left
      width: 100%
      text-align: right
      color: #ffffff
      font-weight: 300
      font-size: .8em
      letter-spacing: .03em
  .controls
    position: relative
    top: -50px
    z-index: 100
    float: left
    a
      margin-right: 5px


.eventList
  float: left
  width: 100%
  margin-top: 60px
  .past
    +opacity(0.3)
  .event
    float: left
    width: 100%
    margin-bottom: 30px
    .date
      color: $accent
      float: left
      width: 30%
      text-align: right
      p 
        margin: 0
        font-size: 1.5em
        font-weight: 600
        line-height: 1em
    .title
      float: right
      width: 60%
      margin-bottom: 10px
      margin-right: 3%
      h4
        font-size: 1.5em
        font-weight: 600
        line-height: 1.3em
    .details
      float: right
      width: 60%
      margin-right: 3%
      line-height: 1.5em
      p
        margin: 0
        font-size: 1.1em
        line-height: 1.4em

.projects-grid
  width: 100%
  float: left
  margin-top: 20px
  .project
    width: 210px
    margin: 0 40px 20px 0
    position: relative
    a
      float: left
      margin-bottom: 5px
      border: none
    a:hover
      background-color: #ffffff
      img
        +opacity(0.4)
    img
      float: left
      width: 210px
      height: 210px

    .credit
      padding-top: 10px
      clear: left
      h4
        font-weight: 500

    float: left
    text-decoration: none
  .project:nth-child(4n+4)
    margin-right: 0
  @media only screen and (max-width: 960px)
    .project:nth-child(4n+4)
      margin-right: 40px
        

#mc_embed_signup
  background-color: #444

.default
  color: #000000
  a
    border-bottom: 1px solid #000000
    color: #000000
    text-decoration: none
  a:hover
    +opacity(0.6)
   
.invert
  background-color: $accent
  color: #ffffff
  a
    border-bottom: 1px solid #ffffff
    color: #ffffff
    text-decoration: none
  a:hover
    +opacity(0.6)

.footer
  background-color: $accent
  text-align: center
  padding: 60px 0
  img
    +opacity(0.9)

    
@media only screen and (max-width: 960px)
  .content
    width: 100%
    padding: 0 25px
  .project
    img
      width: 100%
  .projectSlide
    img
      width: 100%
      height: auto
  .home
    img.logo
      display: none
  .section
    .content
      p, h2, h3, h4, li
        margin-left: 0
        margin-right: 0
      ul
        li
          margin-left: 25px
          margin-right: 0      
  .header
    position: relative
    float: left
    width: 100%
    .content
      padding: 0 25px
      ul.navigation
        float: left
        width: 100%
        padding: 20px 0 30px 0
        border-bottom: 4px solid #ffffff
        li
          display: inline
          margin: 0
          line-height: 1.6em
        li:not(:first-child):before
          +opacity(0.4)
          content: "/"
          margin: 0 2px 0 7px
          color: #ffffff
      h1
        font-size: 2.6em
  .section
    clear: both
  .home
    padding-top: 20px
    .content
      h2
        width: 100%
        font-size: 2.5em
      .subhead
        width: 100%
      .logo
        float: left
        margin-left: -15px

  .footer
    img
      width: 100%
  .projectSlideshow
    .projectSlide
      a:hover:after
        margin-top: -30px
        font-size: 2em




    


